/* line 3, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}

/* line 8, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
h1 {
  text-align: center;
  height: 100px;
  width: 100%;
  font-size: 18px;
  background: #327f36;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

/* line 20, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
form {
  box-sizing: border-box;
  width: 260px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
}
/* line 27, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
form h1 {
  box-sizing: border-box;
  padding: 20px;
}

/* line 33, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
input {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #388E3C;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #388E3C 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #1b451d;
}
/* line 46, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
/* line 51, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #388E3C;
  font-size: 11px;
  transform: translateY(-20px);
  visibility: visible !important;
}

/* line 60, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
button {
  border: none;
  background: #388E3C;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
/* line 70, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

/* line 76, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
.follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: inline-block;
  margin: 50px calc(50% - 21px);
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
/* line 91, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
.follow i {
  margin-right: 20px;
  transition: margin-right 0.2s ease;
}
/* line 95, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
.follow:hover {
  width: 134px;
  transform: translateX(-50px);
}
/* line 98, /home/srinivas/marketingplan-master/app/assets/stylesheets/login.scss */
.follow:hover i {
  margin-right: 10px;
}
