<section class="showcase gray">
  <div class="container">

    <!-- video example -->
    <div class="split">
      <div class="split-left split-text float-right">

        <h4>Video Presentation</h4>
        <p class="lead">What better ways to showcase your products and services than using a presentation video?</p>
        <p>While you're at it, here's a nice little introduction to the awesome <a href="http://neat.bourbon.io/" target="_blank">Bourbon Neat framework</a> - it will show you how you can skip all the CSS classes from other popular front-end frameworks.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, amet, perspiciatis.</p>

      </div>

      <div class="split-right split-media float-left">

        <div class="fitvids">
          <!-- responsive video iframe -->
              <iframe width="560" height="315" src="http://www.youtube.com/embed/P8wyUq5Z3Kw" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="showcase">
  <div class="container">

    <!-- single image example -->
    <div class="split">
      <div class="split-left split-text">

          <h4>The Good Ol' Plain Image</h4>
          <p class="lead">Of course, sometimes a good ol' single image is still the best solution.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, amet, perspiciatis. Ullam dolor repellat molestias quisquam commodi distinctio nam hic ratione architecto!</p>
          <p>Fugiat, expedita dolore consequuntur ducimus nulla ex maxime.</p>

      </div>

      <div class="split-right split-media">

        <!-- insert your image here -->
        <img src="http://placehold.it/800x350&amp;text=use+your+image+here" alt="">

      </div>
    </div>
  </div>
</section>



<!-- ///// QUOTE SECTION ///// -->

<section class="quote">
  <div class="image-bg" data-stellar-background-ratio="0.5"></div>
  <div class="color-overlay"></div>
  <div class="container">

    <div id="quote-slider" class="owl-carousel owl-theme">

      <div class="item">

          <!-- quote text -->
          <blockquote>Say what you want about having 5 amazing sliders or 1,000+ layout shortcodes.. This template just works, and it works super fast. I'm taking that over bloatware any day of the week!

        <!-- quote author -->
        <cite>Joshua Sparks, <a href="#">Freelance Magazine</a></cite></blockquote>

      </div>

        <div class="item">

          <!-- quote text -->
          <blockquote>Hmmm... Wow! I've been working with a lot of templates, but i was pleasantly surprised with this one. The amount of CSS is minimal, and very well organised. Nice!

        <!-- quote author -->
        <cite>Samantha Smith, <a href="#">Mum Entrepreneur</a></cite></blockquote>

        </div>
    </div>
  </div>
</section>
